
body {
  background: firebrick;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

header {
  font-family: 'Playfair Display', serif;
  height: 150px;
  padding:50px 20px 0px 50px;
  background-color: firebrick;
  color: white;
}

a,
.clear {
  color: white;
  opacity: 1;
  transition: 200ms;
}
a:hover,
.clear:hover {
  opacity: 0.8;
}

h1 {
  letter-spacing: 1px;
}

h3, h4 {
  letter-spacing: 1px;
  opacity: 0.9;
}

.clear {
  font-size: 12px;
  vertical-align: bottom;
  line-height: 20px;
  cursor: pointer;
}

section.form {
  margin: 50px ;
}



footer {
  height: 100px;
  line-height: 100px;
}

footer a {
  color: white;
}
footer span {
  margin: 0 10px;
}
